<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">

    <system.web>
      <compilation debug="true" targetFramework="4.0" />
    </system.web>
  <appSettings> 
    <add key="googlemaps.subgurim.net" value="Your API Code" />
  </appSettings>

</configuration>
